<!DOCTYPE html>
<html lang="en">
@await Component.InvokeAsync("_HeaderLayoutComponentPartial")
<body>
    <div class="wrapper">
        @await Component.InvokeAsync("_SidebarLayoutComponentPartial")
        <div class="main p-3">
            <main role="main" class="container py-4">
                @await Component.InvokeAsync("_MainLayoutComponentPartial")
                @RenderBody()
            </main>
        </div>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - PresentationLayer - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    @await Component.InvokeAsync("_ScriptLayoutComponentPartial")
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
