<!DOCTYPE html>
<html lang="en">
@await Component.InvokeAsync("_HeaderLayoutComponentPartial")

<body>
    
    <div class="wrapper">
        @await Component.InvokeAsync("_SidebarLayoutComponentPartial")
        <div class="main pt-3">
            <main role="main" class="container py-4">
                @await Component.InvokeAsync("_MainLayoutComponentPartial")
                @RenderBody()

                <!-- Modal de Alerta -->
                <div class="modal fade" id="alertModal" tabindex="-1" aria-labelledby="alertModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="alertModalLabel"></h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <p id="alertMessage"></p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cerrar</button>
                            </div>
                        </div>
                    </div>
_               </div>
            </main>
        </div>
        <div id="loader-overlay" class="d-none position-fixed top-0 start-0 w-100 h-100 bg-dark bg-opacity-50" style="z-index: 1040;">
            <div id="loader" class="position-absolute top-50 start-50 translate-middle">
                <div class="spinner-border text-primary" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        </div>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - Administrador de proyectos Natura
        </div>
    </footer>
    
    @await Component.InvokeAsync("_ScriptLayoutComponentPartial")
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
