
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="https://cdn.ckeditor.com/ckeditor5/35.0.1/classic/ckeditor.js"></script>
<h3>Gestión de Material</h3>

<div class="row text-center">
    <div class="col-6 col-md-3 col-lg-1 my-2 me-3">
        <div class="p-3 d-flex flex-column justify-content-center align-items-center" style="background:green; width: 100px; height: 100px;">
            <h2 data-bind="text:revision" style="margin: 0;"></h2>
            <p style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; font-size: 12px; margin: 0;">Revisión</p>
        </div>
    </div>
    <div class="col-6 col-md-3 col-lg-1 my-2 me-3">
        <div class="p-3 d-flex flex-column justify-content-center align-items-center" style="background:blue; width: 100px; height: 100px;">
            <h2 data-bind="text:produccion" style="margin: 0;"></h2>
            <p style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; font-size: 12px; margin: 0;">Producción</p>
        </div>
    </div>
    <div class="col-6 col-md-3 col-lg-1 my-2 me-3">
        <div class="p-3 d-flex flex-column justify-content-center align-items-center" style="background:orange; width: 100px; height: 100px;">
            <h2 data-bind="text:faltaInfo" style="margin: 0;"></h2>
            <p style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; font-size: 12px; margin: 0;">Falta Información</p>
        </div>
    </div>
    <div class="col-6 col-md-3 col-lg-1 my-2 me-3">
        <div class="p-3 d-flex flex-column justify-content-center align-items-center" style="background:blue; width: 100px; height: 100px;">
            <h2 data-bind="text:programado" style="margin: 0;"></h2>
            <p style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; font-size: 12px; margin: 0;">Programado</p>
        </div>
    </div>
    <div class="col-6 col-md-3 col-lg-1 my-2 me-3">
        <div class="p-3 d-flex flex-column justify-content-center align-items-center" style="background:purple; width: 100px; height: 100px;">
            <h2 data-bind="text:entregado" style="margin: 0;"></h2>
            <p style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; font-size: 12px; margin: 0;">Entregado</p>
        </div>
    </div>
    <div class="col-6 col-md-3 col-lg-1 my-2 me-3">
        <div class="p-3 d-flex flex-column justify-content-center align-items-center" style="background:yellow; width: 100px; height: 100px;">
            <h2 data-bind="text:inicioCiclo" style="margin: 0;"></h2>
            <p style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; font-size: 12px; margin: 0;">Inicio de ciclo</p>
        </div>
    </div>
    <div class="col-6 col-md-3 col-lg-1 my-2 me-3">
        <div class="p-3 d-flex flex-column justify-content-center align-items-center" style="background:red; width: 100px; height: 100px;">
            <h2 data-bind="text:noCompartio" style="margin: 0;"></h2>
            <p style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; font-size: 12px; margin: 0;">No se compartió</p>
        </div>
    </div>
</div>

<div class="row mb-3">
    <div class="col">
        <input type="text"
               class="form-control"
               placeholder="Buscar por nombre de proyecto"
               data-bind="value: filtroNombreProyecto, valueUpdate: 'input'" />
    </div>
    <div class="col">
        <input type="date"
               class="form-control"
               placeholder="Filtrar por fecha de entrega"
               data-bind="value: filtroFechaEntrega, valueUpdate: 'input'" />
    </div>
    <div class="col-auto">
        <button class="btn btn-primary" data-bind="click: buscar">Buscar</button>
    </div>
</div>

<div class="row">
    <div class="col">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Nombre de Material</th>
                    <th scope="col">Mensaje</th>
                    <th scope="col">Formato</th>
                    <th scope="col">Estatus</th>
                    <th scope="col">Nombre del proyecto</th>
                    <th scope="col">Audiencia</th>
                    <th scope="col">Producción</th>
                    <th scope="col">Responsable</th>
                    <th scope="col">Fecha Entrega</th>
                    <th scope="col">Acciones</th>

                </tr>
            </thead>
            <tbody data-bind="foreach: registrosFiltrados">
                <tr>
                    <td data-bind="text: nombre"></td>
                    <td data-bind="text: mensaje"></td>
                    <td data-bind="text: formato.descripcion"></td>
                    <td data-bind="text: estatusMaterial.descripcion"></td>
                    <td data-bind="text: brief.nombre"></td>
                    <td data-bind="text: audiencia.descripcion"></td>
                    <td data-bind="text: produccion"></td>
                    <td data-bind="text: responsable"></td>
                    <td data-bind="text: fechaEntrega"></td>
                    <td class="small">
                        <button type="button" class="btn btn-outline-primary" data-bind="click:$root.Editar">
                            <i class="lni lni-pencil"></i>
                            <span>Editar</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="divEdicion" tabindex="-1" aria-labelledby="Modal" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen-xxl-down">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="Modal">Solicitud Brief</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="background-color: rgba(0, 0, 0, .03);">
                <div class="row">
                    <div class="col">
                        <div>

                        </div>
                    </div>
                    <div class="col">
                        <div id="formularioAdmin" class="p-3">
                            <h1>Panel Edición Administrador</h1>

                            <div class="mb-3" data-bind="validationElement: EstatusMateriales">
                                <label class="col-form-label">Clasificación:</label>
                                <select class="form-control" data-bind="options: catEstatusMateriales, value: EstatusMateriales, optionsText: 'descripcion', optionsCaption: 'Seleccione'"></select>
                            </div>
                            <div class="mb-3" data-bind="validationElement: Comentario">
                                <label for="comentario-editor" class="col-form-label">Comentario:</label>
                                <textarea class="form-control" id="comentario-editor" maxlength="128" data-bind="stableTextInput: Comentario"></textarea>
                            </div>
                            <div class="mb-3" data-bind="validationElement: fechaEntrega">
                                <label for="recipient-name" class="col-form-label">Cambiar Fecha Entrega:</label>
                                <input type="date" class="form-control" id="fechaEntrega" maxlength="128" data-bind="value: fechaEntrega">
                            </div>
                            <button type="button" class="btn btn-primary" data-bind="click:GuardarComentario">
                                <i class="lni lni-save"></i>
                                <span>Guardar</span>
                            </button>
                        </div>
           
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary">
                    <i class="lni lni-save"></i>
                    <span>Aceptar</span>
                </button>
            </div>
        </div>
    </div>
</div>


    @section Scripts {

        <script src="~/js/Material/Material.js"></script>
    }
