
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.1/main.min.css" rel="stylesheet" />
<style>
    .fc-h-event {
        background-color: var(--fc-event-bg-color, #A564DC) !important;
        border: 1px solid var(--fc-event-border-color, #A564DC) !important;
    }

    .fc-event-title-container {
        white-space: nowrap; /* Evita que el texto salte de línea */
        overflow: hidden; /* Oculta el texto que se desborda */
        text-overflow: ellipsis; /* Agrega puntos suspensivos al texto truncado */
        max-width: 100%; /* Ajusta al tamaño del contenedor */
    }

    .fc-daygrid-event {
        cursor: pointer; /* Cambia el cursor a mano */
    }
</style>
<div class="container py-4">
    <h1 class="text-center mb-4">Calendario de Materiales</h1>
    <div id="calendar"></div>
</div>
<div class="modal fade" id="divEdicion" tabindex="-1" aria-labelledby="Modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="Modal">Material</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <label>Fecha de Entrega</label>
                <p data-bind="text:fechaEntrega"></p>
                <label>Nombre Material</label>
                <p data-bind="text:nombre"></p>
                <label>Responsable</label>
                <p data-bind="text:responsable"></p>
                <label>Area</label>
                <p data-bind="text:area"></p>
                <a class="btn btn-primary"
                   data-bind="attr: { href: '/AdministradorProyectos/Materiales?filtroNombre=' + encodeURIComponent(nombre()) }">
                    Ver Material
                </a>
                
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        var RolId = @Html.Raw(ViewBag.RolId);
    </script>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.1/main.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.1/locales/es.js"></script>
    <script src="~/js/Calendario/Calendario.js?v=1.0.0"></script>

}