
<style>
    .custom-btn {
        width: 120px; /* Ancho uniforme */
        height: 100px; /* Alto uniforme */
    }

        .custom-btn i {
            font-size: 2rem; /* Tamaño del ícono */
        }

        .custom-btn span {
            font-size: 0.9rem; /* Tamaño del texto */
        }
</style>
<div name="Main" class="d-flex justify-content-between align-items-center">
    <!-- Botones -->
    <div class="btn-group" role="group" aria-label="Basic outlined">
        <div class="d-flex justify-content-center p-2">
            <a class="btn btn-primary d-flex flex-column align-items-center custom-btn" href="~/Brief">
                <i class="lni lni-file-plus-circle"></i>
                <span>Brief</span>
            </a>
        </div>
        @if (ViewBag.RolId == 1)
        {
            <div class="d-flex justify-content-center p-2">
                <a class="btn btn-primary d-flex flex-column align-items-center custom-btn" href="~/Brief/IndexAdmin">
                    <i class="lni lni-folder-1"></i>
                    <span>Proyectos</span>
                </a>
            </div>
        }
        <div class="d-flex justify-content-center p-2">
            <a class="btn btn-primary d-flex flex-column align-items-center custom-btn" href="~/Materiales">
                <i class="lni lni-photos"></i>
                <span>Materiales</span>
            </a>
        </div>
        <div class="d-flex justify-content-center p-2">
            <a class="btn btn-primary d-flex flex-column align-items-center custom-btn" href="~/Calendario">
                <i class="lni lni-calendar-days"></i>
                <span>Calendario</span>
                <span>de Proyectos</span>
            </a>
        </div>
        <div class="d-flex justify-content-center p-2">
            <a type="button" class="btn btn-primary position-relative custom-btn" href="~/Alertas">
                <i class="lni lni-bell-1"></i>
                <span>Inbox</span>
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                    @ViewBag.ConteoAlertas
                    <span class="visually-hidden">unread messages</span>
                </span>
            </a>
        </div>
    </div>

    <!-- Imagen -->
    <div>
        <img src="~/img/natura-logo.png" style="width:90%; max-width:150px;" />
    </div>
</div>

