<!-- Bootstrap Icons -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">

<div name="Main">
   
    <div class="btn-group" role="group" aria-label="Basic outlined example">
        <div class="d-flex justify-content-center  p-2">
            <a class="btn btn-primary d-flex flex-column align-items-center" href="/Materiales">
                <i class="lni lni-paperclip fs-3"></i> <!-- Ejemplo de ícono Bootstrap -->
                <span class="mb-1"></span>

                <span class="mb-1">Materiales</span>
            </a>
        </div>
        <div class="d-flex justify-content-center  p-2">
            <a class="btn btn-primary d-flex flex-column align-items-center" href="/Brief">
                <i class="lni lni-add-files fs-3"></i> <!-- Ejemplo de ícono Bootstrap -->
                <span class="mb-1"></span>

                <span class="mb-1">Proyectos</span>
            </a>
        </div>
        <div class="d-flex justify-content-center  p-2">
            <a class="btn btn-primary d-flex flex-column align-items-center" href="/Calendario">
                <i class="lni lni-calendar fs-3"></i> <!-- Ejemplo de ícono Bootstrap -->
                <span class="mb-1">Calendario</span>
                <span class="mb-1">de Proyectos</span>
            </a>
        </div>
        <div class="d-flex justify-content-center  p-2">
            <a type="button" class="btn btn-primary d-flex flex-column align-items-center" href="/Alertas">
                <i class="lni lni-popup fs-3"></i>
                <span class="mb-1"></span>
                <span class="mb-1">Inbox</span>
                <span class="visually-hidden">unread messages</span>
            </a>
        </div>

      
    </div>
</div>
