@{
    ViewData["Title"] = "Home Page";
}
<div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.5.1/knockout-min.js"></script>
</div>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div>
    <label>First Name:</label>
    <input type="text" data-bind="value: firstName" />
</div>
<div>
    <label>Last Name:</label>
    <input type="text" data-bind="value: lastName" />
</div>
<div>
    <h2>Hello, <span data-bind="text: fullName"></span>!</h2>
</div>
@section Scripts {
    <script src="~/js/home/index.js"></script>
}