html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}
a:hover {
    color: #ffffff !important;
}
li {
    list-style: none;
}

h1 {
    font-weight: 600;
    font-size: 1.5rem;
    color:#FFAA16
}
h2 {
    font-weight: 600;
    font-size: 1rem;

}

body {
    font-family: 'Poppins', sans-serif;
}

.wrapper {
    display: flex;
}

.main {
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    transition: all 0.35s ease-in-out;
    background-color: #fafbfe;
}
.bg-primary {
    --bs-bg-opacity: 1;
    background-color: #FFAA16 !important;
}
#sidebar {
    width: 70px;
    min-width: 70px;
    min-height: 100%;
    z-index: 1000;
    transition: all .25s ease-in-out;
    background-color: #EB6619;
    display: flex;
    flex-direction: column;
}

    #sidebar.expand {
        height: 100%;
        width: 100%;
        min-width: 100%;
    }

.toggle-btn {
    background-color: transparent;
    cursor: pointer;
    border: 0;
    padding: 1rem 1.5rem;
}

    .toggle-btn i {
        font-size: 1.5rem;
        color: #FFF;
    }

.sidebar-logo {
    margin: auto 0;
}

    .sidebar-logo a {
        color: #FFF;
        font-size: 1.15rem;
        font-weight: 600;
    }

#sidebar:not(.expand) .sidebar-logo,
#sidebar:not(.expand) a.sidebar-link span {
    display: none;
}

.sidebar-nav {
    padding: 2rem 0;
    flex: 1 1 auto;
}

a.sidebar-link {
    padding: .625rem 1.625rem;
    color: #FFF;
    display: block;
    font-size: 0.9rem;
    white-space: nowrap;
    border-left: 3px solid transparent;
}

.sidebar-link i {
    font-size: 1.1rem;
    margin-right: .75rem;
}

a.sidebar-link:hover {
    background-color: rgba(255, 255, 255, .075);
    border-left: 3px solid #3b7ddd;
}

.sidebar-item {
    position: relative;
}

#sidebar:not(.expand) .sidebar-item .sidebar-dropdown {
    position: absolute;
    top: 0;
    left: 70px;
    background-color: #EB6619;
    padding: 0;
    min-width: 15rem;
    display: none;
}

#sidebar:not(.expand) .sidebar-item:hover .has-dropdown + .sidebar-dropdown {
    display: block;
    max-height: 15em;
    width: 100%;
    opacity: 1;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"]::after {
    border: solid;
    border-width: 0 .075rem .075rem 0;
    content: "";
    display: inline-block;
    padding: 2px;
    position: absolute;
    right: 1.5rem;
    top: 1.4rem;
    transform: rotate(-135deg);
    transition: all .2s ease-out;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"].collapsed::after {
    transform: rotate(45deg);
    transition: all .2s ease-out;
}
.btn-primary:hover {
    color: #fff;
    background-color: #FFAA16;
    border-color: #FFAA16;
}
.btn-primary {
    color: #fff;
    background-color: #FFAA16;
    border-color: #FFAA16;
}
.btn-check:active + .btn-primary, .btn-check:checked + .btn-primary, .btn-primary.active, .btn-primary:active, .show > .btn-primary.dropdown-toggle {
        color: #fff;
        background-color: #EB6619;
        border-color: #EB6619;
    }

/* Clase de estilo para el borde de campos con error */
.is-invalid {
    border-color: #dc3545;
}

/* Clase de estilo para los mensajes de error */
.text-danger {
    color: #dc3545;
}
.card-Home {
    background-color: #FFAA16;
    color: #FFFFFF;
}
.titleCardHome {
    font-size: 2.5rem !important;
    font-weight: 100;
}
#loader .spinner-border {
    width: 3rem;
    height: 3rem;
    z-index: 1050; /* Asegura que esté por encima de otros elementos */
}
#loader-overlay {
    z-index: 1040; /* Asegura que esté sobre el contenido pero debajo de modales si los tienes */
}

#loader .spinner-border {
    width: 3rem;
    height: 3rem;
}
.transparent-div {
    opacity: 0; /* Ajusta el valor de opacidad entre 0 y 1 */
}
div[disabled] {
    pointer-events: none;
    // <---- key point opacity: 0.7;
}
.btn-check:focus + .btn-primary, .btn-primary:focus {
    color: #fff;
    background-color: #FFAA16 !important;
    border-color: #FFAA16 !important;
    box-shadow: 0 0 0 .25rem rgba(49, 132, 253, .5);
}
.btn-outline-primary {
    color: #FFAA16;
    border-color: #FFAA16;
}

    .btn-outline-primary:hover {
        color: #fff;
        background-color: #FFAA16;
        border-color: #FFAA16;
    }
a.form-control:hover {
    color: #FFAA16 !important;
}

/*Main*/
.top-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f9fa; /* Fondo claro */
    padding: 0.5rem 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra suave */
    gap: 1rem;
}

.user-info {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    flex: 1;
    min-width: 150px;
}

    .user-info h6 {
        margin: 0;
        color: #6c757d;
        font-size: 0.9rem;
    }

    .user-info h1 {
        margin: 0;
        font-size: 1.2rem;
        font-weight: bold;
        color: #343a40;
    }

.action-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: center;
    flex: 2;
}

.custom-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80px; /* Ajustado para móviles */
    height: 70px;
    text-align: center;
    background: #FFAA16;
    font-size: 0.8rem;
    color: #fff; /* Texto blanco */
    border: none;
    border-radius: 8px;
    text-decoration: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

    .custom-btn:hover {
        transform: scale(1.05); /* Efecto de aumento */
    }

    .custom-btn i {
        font-size: 1.2rem;
        margin-bottom: 0.3rem;
    }

.logo-wrapper img {
    max-width: 120px;
}

.badge {
    font-size: 0.7rem;
    padding: 0.2rem 0.4rem;
}

@media (max-width: 768px) {
    .top-bar {
        flex-direction: column;
        align-items: stretch;
    }

    .user-info {
        justify-content: center;
    }

    .custom-btn {
        width: 100px;
        height: 80px;
    }

    .action-buttons {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0.5rem;
    }
}
