
@{
    ViewData["Title"] = "Briefs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="py-3" >Brief</h1>
<div class="row py-3">
    <div class="col" data-bind="visible:isRoleVisible([2])">
        <button type="button" class="btn btn-outline-primary" data-bind="click:Agregar">
            <i class="lni circle-plus"></i>
            <span>Agregar Brief</span>
        </button>
    </div>
    <div class="col">
    </div>
   
</div>
<div class="row">
    <div class="col">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Detalles</th>

                </tr>
            </thead>
            <tbody data-bind="foreach: registros">
                <tr>
                    <td data-bind="text: id"></td>
                    <td data-bind="text: nombre"></td>
                    <td class="small">
                        <button type="button" class="btn btn-outline-primary" data-bind="click:$root.Editar">
                            <i class="lni lni-pencil"></i>
                            <span>Editar</span>
                        </button>
                    </td>
                </tr>
            </tbody>

        </table>
    </div>
</div>
<div class="modal fade" id="divEdicion" tabindex="-1" aria-labelledby="Modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="Modal">Solicitud Brief</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="formulario">
                    <div class="mb-3" data-bind="validationElement: EstatusBrief">
                        <label class="col-form-label">Estatus Brief:</label>
                        <select class="form-control" data-bind="options: catEstatusBrief, value: EstatusBrief, optionsText: 'descripcion', optionsCaption: 'Seleccione'"></select>
                    </div>
                    <div class="mb-3" data-bind="validationElement: nombre">
                        <label for="recipient-name" class="col-form-label">Nombre:</label>
                        <input type="text" class="form-control" id="nombre" maxlength="128" data-bind="value: nombre" />
                        <span class="text-danger" data-bind="validationMessage: nombre"></span>
                    </div>
                    <div class="mb-3" data-bind="validationElement: descripcion">
                        <label for="recipient-name" class="col-form-label">Descripción:</label>
                        <input type="text" class="form-control" id="descripcion" maxlength="128" data-bind="value: descripcion">
                    </div>
                    <div class="mb-3" data-bind="validationElement: objetivo">
                        <label for="recipient-name" class="col-form-label">Objetivo de comunicación:</label>
                        <input type="text" class="form-control" id="objetivo" maxlength="128" data-bind="value: objetivo">
                    </div>
                    <div class="mb-3" data-bind="validationElement: dirigidoA">
                        <label for="recipient-name" class="col-form-label">A quién va dirigido :</label>
                        <input type="text" class="form-control" id="dirigidoA" maxlength="128" data-bind="value: dirigidoA">
                    </div>
                    <div class="mb-3" data-bind="validationElement: fechaEntrega">
                        <label for="recipient-name" class="col-form-label">Fecha de entrega deseada:</label>
                        <input type="date" class="form-control" id="fechaEntrega" maxlength="128" data-bind="value: fechaEntrega">
                    </div>
                    <div class="mb-3" data-bind="validationElement: comentario">
                        <label for="recipient-name" class="col-form-label">Comentario:</label>
                        <input type="text" class="form-control" id="comentario" maxlength="128" data-bind="value: comentario">
                    </div>
                   
                    <div class="mb-3" data-bind="validationElement: TipoBrief">
                        <label class="col-form-label">Rol:</label>
                        <select class="form-control" data-bind="options: catTipoBrief, value: TipoBrief, optionsText: 'descripcion', optionsCaption: 'Seleccione'"></select>
                    </div>
                    <div class="mb-3" data-bind="validationElement: cargaArchivo">
                        <label for="cargaArchivo" class="col-form-label">Cargar Documento:</label>
                        <input type="file" class="form-control" id="cargaArchivo" data-bind="event: { change: cargarArchivo }" accept=".pdf,.doc,.docx">
                       
                    </div>
                    <div class="mb-3" data-bind="visible: rutaArchivo">
                        <label for="archivoCargado" class="col-form-label">Archivo cargado:</label>
                        <a data-bind="attr: { href: '/Brief/DownloadFile/' + id() }, text: rutaArchivo" class="form-control" target="_blank">Descargar archivo</a>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" data-bind="click:Guardar">
                    <i class="lni lni-save"></i>
                    <span>Guardar</span>
                </button>
            </div>
        </div>
    </div>
</div>

<style>
    .custom-width {
        max-width: 1200px; /* Puedes definir cualquier ancho aquí */
    }
</style>
@section Scripts {
    <script>
        // Pasar los valores de ViewBag a variables JavaScript
        var RolId = @Html.Raw(ViewBag.RolId);

    </script>
    <script src="~/js/brief/Brief.js"></script>
   
}
