@{
    ViewData["Title"] = "Briefs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .custom-width {
        width: 100%;
        overflow-x: auto;
    }

    .row.flex-nowrap {
        display: flex;
        flex-wrap: nowrap;
    }

    .col {
        min-width: 22%; /* Ajusta el tamaño mínimo de cada columna */
        max-width: 22%;
        margin-right: 10px;
    }
</style>
<h1 class="py-3">Proyectos</h1>
<div class="row py-3">
    <div class="col" data-bind="visible:isRoleVisible([2])">
       
    </div>
    <div class="col">
    </div>

</div>
<div class="row flex-nowrap" data-bind="foreach: columns" style="overflow-x: auto; white-space: nowrap;">
    <div class="col" style="flex: 0 0 22%; max-width: 22%;">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title" data-bind="text: name"></h5>
            </div>
            <div class="card-body">
                <div class="list-group sortable" data-bind="foreach: tasks, attr: { id: id }">
                    <div class="list-group-item" data-bind="attr: { 'data-task-id': id }">
                        <div>
                            <div>
                                <i class="lni lni-folder"></i>
                                <span data-bind="text: title" style="display: inline-block; max-width: calc(100% - 30px); white-space: nowrap; overflow: hidden; text-overflow: ellipsis;"></span>
                            </div>
                            <div>
                                <i class="lni lni-user"></i>
                                <span data-bind="text: nombreUsuario" style="display: inline-block; max-width: calc(100% - 30px); white-space: nowrap; overflow: hidden; text-overflow: ellipsis;"></span>
                            </div>
                            <div>
                                <i class="lni lni-calendar"></i>
                                <span data-bind="text: fechaEntrega"></span>
                            </div>
                            <div class="row">
                                <div class="col-4 transparent-div">
                                    l
                                </div>
                                <div class="col-4 transparent-div">
                                    l
                                </div>
                                <div class="col-4">
                                    <div>
                                        <i data-bind="click:$root.Editar" class="lni lni-search-text"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="divEdicion" tabindex="-1" aria-labelledby="Modal" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen" >
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="Modal">Solicitud Proyecto</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="background-color: rgba(0, 0, 0, .03);">
                <div class="row">   
                    <div class="col-6">
                        <div id="formulario" style="background-color: #FFFFFF;" class="p-3" >
                            <h1>Solicitud</h1>
                            <div class="mb-3" data-bind="validationElement: nombre">
                                <label for="recipient-name" class="col-form-label">Nombre de solicitud:</label>
                                <input disabled type="text" class="form-control" id="nombre" maxlength="128" data-bind="value: nombre" />
                            </div>
                            <div class="mb-3" data-bind="validationElement: descripcion">
                                <label for="recipient-name" class="col-form-label">Descripción de la solicitud:</label>
                                <input disabled type="text" class="form-control" id="descripcion"  data-bind="value: descripcion">
                            </div>
                            <div class="mb-3" data-bind="validationElement: objetivo">
                                <label for="recipient-name" class="col-form-label">Objetivo de comunicación (128 caracteres):</label>
                                <input disabled type="text" class="form-control" maxlength="128" id="objetivo" data-bind="value: objetivo">
                            </div>
                            <div class="mb-3" data-bind="validationElement: dirigidoA">
                                <label for="recipient-name" class="col-form-label">Publico al que va dirigido (128 caracteres) :</label>
                                <input disabled type="text" class="form-control" id="dirigidoA" maxlength="128" data-bind="value: dirigidoA">
                            </div>
                            <div class="mb-3" data-bind="validationElement: fechaEntrega">
                                <label for="recipient-name" class="col-form-label">Fecha deseada de publicación:</label>
                                <input disabled type="date" class="form-control" id="fechaEntrega" data-bind="value: fechaEntrega">
                            </div>
                            <div class="mb-3" data-bind="validationElement: linksReferencias">
                                <label for="recipient-name" class="col-form-label">Link de Referencia:</label>
                                <a data-bind="attr: { href: linksReferencias }, text: linksReferencias" class="form-control" target="_blank">Link Referencia</a>
                            </div>
                            <div class="mb-3" data-bind="validationElement: cargaArchivo">
                                <label for="cargaArchivo" class="col-form-label">Subir referencia:</label>
                                <input disabled type="file" class="form-control" id="cargaArchivo" data-bind="event: { change: cargarArchivo }" accept=".pdf,.doc,.docx">
                            </div>
                            <div class="mb-3" data-bind="visible: rutaArchivo">
                                <label for="archivoCargado" class="col-form-label">Referencia:</label>
                                <a data-bind="attr: { href: '/Brief/DownloadFile/' + id() }, text: rutaArchivo" class="form-control" target="_blank">Descargar archivo</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div id="formularioAdmin" class="p-3">
                            <h1>Panel Edición Administrador</h1>
                            <div class="mb-3" data-bind="validationElement: comentarioProyecto">
                                <label for="recipient-name" class="col-form-label">Comentario:</label>
                                <input type="text" class="form-control" id="comentarioProyecto" maxlength="128" data-bind="value: comentarioProyecto">
                            </div>
                            <div class="mb-3" data-bind="validationElement: planComunicacion">
                                <label for="recipient-name" class="col-form-label">Requiere Plan de Comunicación:</label>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="planComunicacionOptions" id="planComunicacion1" value="Sí" data-bind="checked: planComunicacion">
                                    <label class="form-check-label" for="planComunicacion1">Sí</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="planComunicacionOptions" id="planComunicacion2" value="No" data-bind="checked: planComunicacion">
                                    <label class="form-check-label" for="planComunicacion2">No</label>
                                </div>
                            </div>
                            <div class="mb-3" data-bind="validationElement: determinarEstado">
                                <label for="recipient-name" class="col-form-label">Determinar Estado:</label>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="determinarEstadoOptions" id="determinarEstado1" value="Ciclal Regional" data-bind="checked: determinarEstado">
                                    <label class="form-check-label" for="determinarEstado1">Ciclal Regional</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="determinarEstadoOptions" id="determinarEstado2" value="Ciclal Local" data-bind="checked: determinarEstado">
                                    <label class="form-check-label" for="determinarEstado2">Ciclal Local</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="determinarEstadoOptions" id="determinarEstado3" value="Ciclal Local" data-bind="checked: determinarEstado">
                                    <label class="form-check-label" for="determinarEstado3">Inicio de Ciclo</label>
                                </div>
                            </div>
                            <div class="mb-3" data-bind="validationElement: fechaPublicacion">
                                <label for="recipient-name" class="col-form-label">Fecha Publicacion:</label>
                                <input type="date" class="form-control" id="fechaEntrega" data-bind="value: fechaPublicacion, attr: { min: minDate }">
                            </div>
                            <button type="button" class="btn btn-primary" data-bind="click:GuardarProyecto">
                                <i class="lni lni-save"></i>
                                <span>Guardar</span>
                            </button>
                        </div>
                        <div id="formularioMateriales"  class="p-3">
                            <h1>Asignar Material</h1>
                            <div class="mb-3" data-bind="validationElement: nombreMaterial">
                                <label for="recipient-name" class="col-form-label">Nombre:</label>
                                <input type="text" class="form-control" id="nombreMaterial" maxlength="128" data-bind="value: nombreMaterial">
                             
                            </div>
                            <div class="mb-3" data-bind="validationElement: mensaje">
                                <label for="recipient-name" class="col-form-label">Mensaje:</label>
                                <input type="text" class="form-control" id="mensaje" maxlength="128" data-bind="value: mensaje">
                            </div>
                            <div class="mb-3" data-bind="validationElement: prioridad">
                                <label class="col-form-label">Prioridad:</label>
                                <select class="form-control" data-bind="options: catPrioridad, value: prioridad, optionsText: 'descripcion', optionsCaption: 'Seleccione'"></select>
                            </div>
                            <div class="mb-3" data-bind="validationElement: ciclo">
                                <label for="recipient-name" class="col-form-label">Ciclo:</label>
                                <input type="text" class="form-control" id="ciclo" maxlength="128" data-bind="value: ciclo">
                            </div>
                            <div class="mb-3" data-bind="validationElement: pcn">
                                <label class="col-form-label">PCN:</label>
                                <select class="form-control" data-bind="options: catPCN, value: pcn, optionsText: 'descripcion', optionsCaption: 'Seleccione'"></select>
                            </div>
                            <div class="mb-3" data-bind="validationElement: formato">
                                <label class="col-form-label">Formato:</label>
                                <select class="form-control" data-bind="options: catFormato, value: formato, optionsText: 'descripcion', optionsCaption: 'Seleccione'"></select>
                            </div>
                            <div class="mb-3" data-bind="validationElement: audiencia">
                                <label class="col-form-label">Audicencia:</label>
                                <select class="form-control" data-bind="options: catAudiencia, value: audiencia, optionsText: 'descripcion', optionsCaption: 'Seleccione'"></select>
                            </div>
                            <div class="mb-3" data-bind="validationElement: fechaEntrega">
                                <label for="recipient-name" class="col-form-label">Fecha Entrega:</label>
                                <input type="date" class="form-control" id="fechaEntrega" maxlength="128" data-bind="value: fechaEntrega">
                            </div>
                            <div class="mb-3" data-bind="validationElement: responsable">
                                <label for="recipient-name" class="col-form-label">Responsable:</label>
                                <input type="text" class="form-control" id="responsable" maxlength="128" data-bind="value: responsable">
                            </div>
                            <div class="mb-3" data-bind="validationElement: area">
                                <label for="recipient-name" class="col-form-label">Area:</label>
                                <input type="text" class="form-control" id="area" maxlength="128" data-bind="value: area">
                            </div>
                            <button type="button" class="btn btn-primary" data-bind="click:GuardarMaterial">
                                <i class="lni lni-save"></i>
                                <span>Agregar Material</span>
                            </button>
                        </div>
                        <div id="ListaMateriales" class="p-3">
                            <h2 style="color:#FFAA16;">Materiales Asignados</h2>
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">Id</th>
                                        <th scope="col">Nombre</th>
                                        <th scope="col">Fecha Entrega</th>
                                        <th scope="col">Detalles</th>

                                    </tr>
                                </thead>
                                <tbody data-bind="foreach: registrosMateriales">
                                    <tr>
                                        <td data-bind="text: id"></td>
                                        <td data-bind="text: nombre"></td>
                                        <td data-bind="text: fechaEntrega"></td>
                                        <td class="small">
                                            <button type="button" class="btn btn-outline-primary" data-bind="click:$root.EliminarMaterial">
                                                <i class="lni lni-pencil"></i>
                                                <span>Eliminar Material</span>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <h2 style="color:#FFAA16;">Participantes del proyecto</h2>
                            <div>
                                <label for="buscarUsuario">Buscar usuario:</label>
                                <input id="buscarUsuario" type="text" class="form-control" placeholder="Escribe el nombre del usuario..."
                                       data-bind="value: buscarUsuario, valueUpdate: 'input', event: { keyup: buscarUsuarios }" />
                                <ul data-bind="foreach: resultadosBusqueda" class="autocomplete-results" style="background-color:#fff">
                                    <li data-bind="text: nombre, click: $root.seleccionarUsuario"></li>
                                </ul>
                            </div>
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">Id</th>
                                        <th scope="col">Nombre</th>
                                        <th scope="col">Detalles</th>

                                    </tr>
                                </thead>
                                <tbody data-bind="foreach: registrosParticipantes">
                                    <tr>
                                        <td data-bind="text: id"></td>
                                        <td data-bind="text: usuario.nombre"></td>
                                        <td class="small">
                                            <button type="button" class="btn btn-outline-primary" data-bind="click:$root.EliminarParticipante">
                                                <i class="lni lni-pencil"></i>
                                                <span>Eliminar</span>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
             
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">
                    <i class="lni lni-save"></i>
                    <span>Aceptar</span>
                </button>
            </div>
        </div>
    </div>
</div>

<style>
    .custom-width {
        max-width: 1200px; /* Puedes definir cualquier ancho aquí */
    }
</style>
@section Scripts {
    <script>
        // Pasar los valores de ViewBag a variables JavaScript
        var RolId = @Html.Raw(ViewBag.RolId);
        // Obtener la fecha de hoy en formato YYYY-MM-DD
        const today = new Date().toISOString().split('T')[0];

        // Establecer la fecha mínima en el input
        document.getElementById('fechaEntrega').setAttribute('min', today);
    </script>
    <script src="~/js/brief/BriefAdmin.js"></script>
   
}
